@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}
/* shearing styles */
.section-description {
	color: #727272;
	line-height: 1.5rem;
}
.btn-primary {
	padding: 18px 20px;
	border: none;
	background-color: #FF900E;
	border-radius: 8px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-top: 2rem;
	cursor: pointer;
}
section{
	margin: 60px 100px;
}
.section-title {
	font-size: 2.8rem;
	padding: 0 40px;
	margin-bottom: 1.5rem;
}

/* header style */
.header {
	background: rgba(255, 144, 14, 0.10);
	padding: 30px 100px;
	margin-bottom: 50px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
.nav-title {
	padding: 2rem 0;
	font-size: 2.5rem;
	font-weight: 700;
}
nav ul {
	display: flex;
}
nav ul li {
	list-style: none;
	margin-left: 2rem;

}
li a{
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	color: #424242;
}
.banner-content {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1.25rem;

}
.header-title {
	font-size: 4rem;
	color: #131313;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.banner img {
	width: 100%;
}

/* teams section style */
.teams {
	display: flex;
	gap: 50px;
	align-items: center;
}
.team-img {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	width: 50%;
}
.team-img img {
	width: 100%;
}
.team-content {
	width: 50%;
	align-items: center;
}
.team-title{
	font-size: 3rem;
	color: #131313;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.team-title .Quick {
	color: #727272;
	font-weight: 500;
}
.team-title .featu{
	color: #FF900E;
}

/* feature section style */
.feature {
	display: flex;
	gap: 100px;
}
.feature-content {
	width: 50%;
}
.feature-img {
	width: 50%;
}
.feature-img img {
	width: 100%;
	height: 90%;
}
.card-title {
	margin-bottom: 10px;
}
.feature-card {
	padding: 20px;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 20px;
	margin-top: 1rem;
}
.feature-content .section-title{
	border-left: 4px solid #FF900E;
}
.ten-years-experience {
	position: relative;
	width: 220px;
	border-radius: 8px;
	background: #FF900E;
	color: #fff;
	text-align: center;
	padding: 25px 0;
	bottom: 100px;
	left: -60px;
}
.ten-years-experience .experience-title{
	font-size: 3rem;
	font-weight: 700;
}
.ten-years-experience h3 {
	font-size: 1rem;
	font-weight: 500;
}

/* facts section styles */
.facts .section-title{
	padding: 0;
}
.card-container {
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin-top: 50px;
}
.card-container .card {
	width: 180px;
	border-radius: 8px;
	border: 1px solid #FF900E;
	padding: 25px 0;
}

/* sponsors section style */
.sponsor {
	text-align: center;
	margin: 100px 0;
}

.sponsors-container {
	margin-top: 30px;
	align-items: center;
}
.sponsors-container img {
	margin-right: 50px;
	margin-bottom: 20px;
}

/* footer section style */
footer {
	margin: 0 100px 100px 100px;
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	background: #FFF4E7;
}
footer p {
	color: #424242;
}

/* responsive mobile device */
@media screen and (max-width: 576px) {
	section{
		margin: 0;
	}
	.section-title{
		font-size: 2rem;
	}
	.header {
		padding: 0 5px;
	}
	nav, .feature, .card-container {
		flex-direction: column;
	}
	.banner-content, .feature-content, .feature-img {
		width: 100%;
	}
	.teams {
		gap: 10px;
		flex-direction: column-reverse;
		padding: 10px;
	}
	.team-img, .feature-img > img{
		width: 100%;
		grid-template-columns: 1fr;
	}
	.team-content{
		width: 100%;
	}
	.feature {
		gap: 0;
		padding: 10px;
	}
	.ten-years-experience{
		left: 0;
	}
	.facts {
		text-align: center;
		padding: 0 20px;
	}
	.card-container .card {
		width: 100%;
		margin-bottom: 10px;
	}
	footer{
		margin: 0 auto;
	}
}

/* tablet medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
	section {
		margin: 5px;
	}
	.nav-title, .section-title{
		font-size: 2rem;
	}
	.banner-content{
		width: 100%;
	}
	.header-title{
		font-size: 3rem;
	}
	.btn-primary{
		margin-top: 2rem;
	}
	.feature{
		gap: 10px;
		padding: 30px 10px 10px 10px;
	}
	.ten-years-experience {
		left: 0;
	}
	.facts {
		text-align: center;
		margin: 30px 10px 50px 10px ;
	}
}